Repository Rikj000/MoniGoMani: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 38b88246ccc552bffaaf54259d064beeee434539  # frozen: v4.0.1
    hooks:
    -   id: trailing-whitespace
        types: [file, python]
    -   id: end-of-file-fixer
        types: [file, python]
    -   id: check-ast # Simply check whether files parse as valid python.
        types: [file, python]
    -   id: check-docstring-first
        types: [file, python]
    -   id: check-json
        types: [file, json]
    -   id: check-added-large-files
        types: [file]
    -   id: check-yaml
        types: [file, yaml]
    -   id: debug-statements
        types: [file, python]
    -   id: name-tests-test
        files: ^tests/
        types: [file, python]
    -   id: double-quote-string-fixer
        types: [file, python]
    -   id: requirements-txt-fixer
        files: ^requirements
        types: [file, plain-text]
    -   id: check-case-conflict # Check for files with names that would conflict on a case-insensitive filesystem like MacOS HFS+ or Windows FAT.
        types: [file, python]
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: fix-encoding-pragma
        files: ^(tests/|mgm_hurry)* # All files in tests/ and all files matching mgm_hurry*
        types: [file, python]

    # flake8 mainly for style smells
-   repo: https://gitlab.com/pycqa/flake8
    rev: dcd740bc0ebaf2b3d43e59a0060d157c97de13f3  # frozen: 3.9.2
    hooks:
    -   id: flake8
        types: [python]
        files: '.*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$' # all python files containing mgm or monigomani, except Strategy
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics

-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: '.*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$' # all python files containing mgm or monigomani, except Strategy
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        files: 'mgm_hurry_.*?_test\.py$'
        verbose: true

Splitting GH workflows to fix GH actions at PR
  .github/workflows/pytest-unit-tests.yml
  .github/workflows/test-report.yml
Due: none

Fix logging filehandlers
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

Implement mgmlogger as singleton
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

:memo: Added Some Test Results
  Some Test Results/v0.13.0/HyperOptResults167_Pt1-14-08-2021-random-state-29173-MGM_WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults168_Pt1-14-08-2021-random-state-29173-WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults169_Pt1-15-08-2021-random-state-29173-MGM_WeightedMultiParameterHyperOptLoss-flip-duration-objective.log
  Some Test Results/v0.13.0/HyperOptResults170_Pt1-15-08-2021-random-state-48010-SwingHighToSkyHyperStrategy-WeightedMultiParameterHyperOptLoss-50-epochs.log
  Some Test Results/v0.13.0/HyperOptResults171_Pt1-15-08-2021-random-state-48010-SwingHighToSkyHyperStrategy-MGM_WeightedMultiParameterHyperOptLoss-50-epochs.log
  Some Test Results/v0.13.0/HyperOptResults172_Pt1-15-08-2021-random-state-29173-SwingHighToSkyHyperStrategy-MGM_WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults173_Pt1-15-08-2021-random-state-29173-SwingHighToSkyHyperStrategy-WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults174_Pt1-15-08-2021-random-state-29173-MoniGoManiHyperStrategy-MGM_WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults175_Pt1-15-08-2021-random-state-29173-MoniGoManiHyperStrategy-WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults176_Pt1-15-08-2021-random-state-43129-SwingHighToSkyHyperStrategy-MGM_WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults177_Pt1-15-08-2021-random-state-43129-SwingHighToSkyHyperStrategy-WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults178_Pt1-15-08-2021-random-state-43129-MoniGoManiHyperStrategy-MGM_WeightedMultiParameterHyperOptLoss.log
  Some Test Results/v0.13.0/HyperOptResults179_Pt1-15-08-2021-random-state-43129-MoniGoManiHyperStrategy-WeightedMultiParameterHyperOptLoss.log
Due: none

Fix unit testing singleton instance
  tests/mgm_hurry_monigomani_logger_test.py
Due: pylint, pytest

:zap: `MoniGoManiLogger` Match format of other `mgm_hurry` module headers
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

:zap: `FreqtradeCli` Removed trailing comma & shortened some lines
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

:zap: `mgm-hurry` Refactored single line
  mgm-hurry
Due: none

:zap: `MoniGoManiCli` Refactored single line
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

:zap: `MoniGoManiConfig` updated default HO Loss to `MGM_WinRatioAndProfitRatioHyperOptLoss`
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

:zap: `FreqtradeCli` Nested freqtrade installation found checks
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

indentation should be 4 spaces. not 2.
  .pylintrc
Due: none

👌 IMPROVE: isort added as dependency
  Pipfile
  Pipfile.lock
Due: none

🐛 FIX: Revert changes to docker-compose to last version (was accident)
  docker-compose.yml
Due: none

📖 DOC: Updated Docs-MGM-Hurry.md
  Documentation/Docs-MGM-Hurry.md
Due: none

👌 IMPROVE: Also cleanup HO intermedia files from other strategies (fixes #107)
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

👌 IMPROVE: Typos and code styling fixes
  Documentation/Docs-MGM-Hurry.md
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

📖 DOC: Optimized example command in installer.sh
  installer.sh
Due: none

👌 IMPROVE: More stable installer.sh
  Pipfile
  installer.sh
Due: none

Move "art" to dev-packages
  Pipfile
  Pipfile.lock
Due: none

:beetle: Re-applied BugFix folder - json file mismatches in Docker
  docker-compose.yml
Due: none

:memo: Reworked `Docs-MGM-Hurry.md`
  Documentation/Docs-MGM-Hurry.md
Due: none

:fire: Delete IDE specific `.vscode/launch.json` file
  .vscode/launch.json
Due: none

:fire: Delete IDE specific `.vscode/settings.json` file
  .vscode/settings.json
Due: none

:zap: `.gitignore` VSCodium Folder
  .gitignore
Due: none

:memo: `Docs-MGM-Hurry.md` Removed indentation from `installer.sh` command codeblock
  Documentation/Docs-MGM-Hurry.md
Due: none

:fire: Delete `mgm-config.json`
  user_data/mgm-config.json
Due: none

🐛 FIX: installer.sh now also ensures installation of pip3, pipenv, pip packages
  .gitignore
  Pipfile
  Pipfile.lock
  installer.sh
  requirements.txt
Due: none

🐛 FIX: Make installing from requirements.txt more stable.
  installer.sh
Due: none

👌 IMPROVE: Make installer output more clear
  installer.sh
Due: none

📖 DOC: Polishing installer output
  installer.sh
Due: none

📖 DOC: Gettings started command with pipenv prefix
  installer.sh
Due: none

🐛 FIX: Installing art package by default (not only dev)
  Pipfile
  Pipfile.lock
  requirements.txt
Due: none

👌 IMPROVE: Chaining shell commands to ensure it only proceeds without failures
  installer.sh
Due: none

🐛 FIX: Fix issue where mgm files were installed one directory level too deep. (strategies/strategies/*)
  installer.sh
Due: none

Removed weird ♂️ characters
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

Removed weird ♂️ characters
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

Some textual improvements
  installer.sh
Due: none
