Repository Rikj000/MoniGoMani: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 38b88246ccc552bffaaf54259d064beeee434539  # frozen: v4.0.1
    hooks:
    -   id: trailing-whitespace
        types: [file, python]
    -   id: end-of-file-fixer
        types: [file, python]
    -   id: check-ast # Simply check whether files parse as valid python.
        types: [file, python]
    -   id: check-docstring-first
        types: [file, python]
    -   id: check-json
        types: [file, json]
    -   id: check-added-large-files
        types: [file]
    -   id: check-yaml
        types: [file, yaml]
    -   id: debug-statements
        types: [file, python]
    -   id: name-tests-test
        files: ^tests/
        types: [file, python]
    -   id: double-quote-string-fixer
        types: [file, python]
    -   id: requirements-txt-fixer
        files: ^requirements
        types: [file, plain-text]
    -   id: check-case-conflict # Check for files with names that would conflict on a case-insensitive filesystem like MacOS HFS+ or Windows FAT.
        types: [file, python]
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: fix-encoding-pragma
        files: ^(tests/|mgm_hurry)* # All files in tests/ and all files matching mgm_hurry*
        types: [file, python]

    # flake8 mainly for style smells
-   repo: https://gitlab.com/pycqa/flake8
    rev: dcd740bc0ebaf2b3d43e59a0060d157c97de13f3  # frozen: 3.9.2
    hooks:
    -   id: flake8
        types: [python]
        files: '.*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$' # all python files containing mgm or monigomani, except Strategy
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics

-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: '.*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$' # all python files containing mgm or monigomani, except Strategy
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        files: 'mgm_hurry_.*?_test\.py$'
        verbose: true

Bugfix for running shell commands
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

mgm-launcher script to make first installation easy peasy
  mgm-launcher.sh
Due: none

Default target folder for installation using launcher is monigomani/
  mgm-launcher.sh
Due: none

:fire: Removed Old HyperOpt Losses
  user_data/hyperopts/GeniusLoss.py
  user_data/hyperopts/UncloggedWinRatioAndProfitRatioLoss.py
Due: none

:fire: Removed Old HyperOpt Losses
  user_data/hyperopts/WinRatioAndProfitRatioLoss.py
Due: none

:sparkles: Added refactored HyperOpt Losses + Custom logging level
  user_data/hyperopts/MGM_GeniusHyperOptLoss.py
  user_data/hyperopts/MGM_UncloggedWinRatioAndProfitRatioHyperOptLoss.py
  user_data/hyperopts/MGM_WinRatioAndProfitRatioHyperOptLoss.py
  user_data/mgm-config.example.json
  user_data/strategies/MasterMoniGoManiHyperStrategy.py
Due: none

:zap: Enhanced Docker <-> FileSystem support
  docker-compose.yml
Due: none

:memo: Added HyperOptLoss Documentation
  Documentation/Docs-MGM-HyperOptLoss-Functions.md
Due: none

:memo: Re-wrote mgm-hurry Documentation
  Documentation/Docs-MGM-Hurry.md
Due: none

:memo: Re-wrote VeryQuickStart Documentation
  Documentation/Docs-VeryQuickStart.md
Due: none

:memo: Updated Documentation (Switched to Wiki link, Updated Disclaimer, Added Supported Exchanges)
  Documentation/Docs-MoniGoMani.md
  README.md
Due: none

:fire: Removed ToDo mgm-hurry
  Documentation/ToDo-MGM-Hurry.md
Due: none

:zap: `mgm-hurry cleanup` - Delete all config files + other strategy support
  mgm-hurry
Due: none

:sparkles: `mgm-hurry hyperopt` - Added `--loss` & `--jobs` modifiers
  mgm-hurry
Due: none

:zap: `mgm-hurry start_trader` - Switched to DryRun as the default
  mgm-hurry
Due: none

:zap: `mgm-hurry hyperopt` - Enhanced formatting of saved result output
  mgm-hurry
Due: none

:zap: Updated Freqtrade Method definitions
  user_data/strategies/MasterMoniGoManiHyperStrategy.py
  user_data/strategies/MoniGoManiHyperStrategy.py
Due: none

:memo: `mgm-hurry hyperopt_show_epoch` - Added ToDo's
  mgm-hurry
Due: none

:beetle: BugFixed reproduction issues - Rewrote Unclogger Cooldown
  user_data/strategies/MasterMoniGoManiHyperStrategy.py
Due: none

📖 DOC: Updated MGM-Hurry.md docs to reflect the new mgm-launcher
  Documentation/Docs-MGM-Hurry.md
Due: none

Typo
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

Log debug messages as .debug(). not .info()
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

Launcher uses default requirements.txt to install pip packages
  mgm-launcher.sh
Due: none

Move some functions from mgm-hurry to MoniGoManiConfig
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

Fix double quotes
  mgm-hurry
Due: none

Add developer notes to describe pipenv usage
  .hurry
  Documentation/Docs-MGM-Hurry.md
  user_data/mgm-config.json
  user_data/mgm_pair_lists/Binance-USDT-Top-Volume-StaticPairList.json
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

Describe how to create ascii art module header
  Documentation/Docs-MGM-Hurry.md
Due: none

Code cleanup
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

🔶 Some polishing, cleanup, pydocs
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

Fix some style issues (flake8)
  mgm-hurry
Due: none

:memo: Added Shield Badge to Matrix community
  Documentation/Docs-MGM-Hurry.md
  Documentation/Docs-MGM-HyperOptLoss-Functions.md
  Documentation/Docs-MoniGoMani.md
  Documentation/Docs-VeryQuickStart.md
  README.md
Due: none

:memo: Reworked Matrix & Discord Community links
  Documentation/Docs-MGM-Hurry.md
  Documentation/Docs-MGM-HyperOptLoss-Functions.md
  Documentation/Docs-MoniGoMani.md
  Documentation/Docs-VeryQuickStart.md
  README.md
Due: none

🤖 TEST: Add pytest-mock as dev-dependency
  Pipfile
  Pipfile.lock
Due: none

🤖 TEST: Added unit tests for mgm cli install type
  tests/mgm_hurry_freqtrade_cli_test.py
Due: pylint, pytest

🤖 TEST: Created unit tests for monigomani_cli.installation_exists
  tests/mgm_hurry_monigomani_cli_test.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint, pytest

🤖 TEST: Writing unit tests
  tests/mgm_hurry_freqtrade_cli_test.py
  tests/mgm_hurry_interface_test.py
  tests/mgm_hurry_monigomani_cli_test.py
  tests/mgm_hurry_monigomani_config_test.py
  tests/mgm_hurry_monigomani_logger_test.py
Due: pylint, pytest

:beetle: BugFix `startup_candlle_count` not being applied to `informative` dataframe
  user_data/strategies/MasterMoniGoManiHyperStrategy.py
Due: none

🐛 FIX: Unit tests
  tests/mgm_hurry_freqtrade_cli_test.py
  tests/mgm_hurry_monigomani_config_test.py
  tests/mgm_hurry_monigomani_logger_test.py
Due: pylint, pytest
