Repository Rikj000/MoniGoMani: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136

pytest:
  name: pytest
  entry: pytest
  language: system
  verbose: true

:sparkles: Added configurable `roi_time_interval_scaling` & `roi_value_step_scaling` + Moved `roi_table_step_size` to new `roi_spaces`
  Documentation/Docs-MoniGoMani.md
  user_data/mgm-config.example.json
  user_data/strategies/MasterMoniGoManiHyperStrategy.py
Due: none

:zap: `MGM_GeniusHyperOptLoss` Switched to `max_drawdown` 0 if ValueError occurs
  user_data/hyperopts/MGM_GeniusHyperOptLoss.py
Due: none

:memo: Added Some Test Results
  Some Test Results/v0.13.0/HyperOptResults163_Pt1-12-08-2021-random-state-29173-comparability-test-HyperOptResults160-candle-multiplier-bug-fix.log
  Some Test Results/v0.13.0/HyperOptResults164_Pt1-13-08-2021-random-state-29173-comparability-test-HyperOptResults163-original.log
  Some Test Results/v0.13.0/HyperOptResults165_Pt1-14-08-2021-random-state-29173-bug-fixed-informative-startup_candle_count.log
  Some Test Results/v0.13.0/HyperOptResults166_Pt1-14-08-2021-random-state-29173-added-roi-time-interval-and-value-step-scaling.log
Due: none

Moving test files to another directory to avoid conflicts with ft.
  .gitignore
Due: none

Moving unit-test files to another directory to avoid possible conflicts
  Pipfile
  Pipfile.lock
  tests/monigomani/mgm_hurry_freqtrade_cli_test.py
  tests/monigomani/mgm_hurry_interface_test.py
  tests/monigomani/mgm_hurry_monigomani_cli_test.py
  tests/monigomani/mgm_hurry_monigomani_config_test.py
  tests/monigomani/mgm_hurry_monigomani_logger_test.py
Due: pylint, pytest

flake8 style fixes
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

new installer
  installer.sh
Due: none

flake8
  installer.sh
Due: none

Cleaning up files after chat with Rikj000
  .hurry
  CONTRIBUTING.md
  Dockerfile
  LICENSE
  LICENSE_MGM
  environment.yml
  mgm-launcher.sh
  requirements-mgm-dev.txt
  requirements-mgm.txt
Due: none

Installer now makes installing freqtrade and mgm optional.
  installer.sh
Due: none

mgm-launcher is replaced by installer.sh
  mgm-launcher.sh
Due: none

Match types because shell is random weird.
  installer.sh
  tests/monigomani/__pycache__/mgm_hurry_freqtrade_cli_test.cpython-39-pytest-6.2.4.pyc
  tests/monigomani/__pycache__/mgm_hurry_interface_test.cpython-39-pytest-6.2.4.pyc
  tests/monigomani/__pycache__/mgm_hurry_monigomani_cli_test.cpython-39-pytest-6.2.4.pyc
  tests/monigomani/__pycache__/mgm_hurry_monigomani_config_test.cpython-39-pytest-6.2.4.pyc
  tests/monigomani/__pycache__/mgm_hurry_monigomani_logger_test.cpython-39-pytest-6.2.4.pyc
Due: none

Fugbix installer
  installer.sh
Due: none

Fugbix installer.sh
  installer.sh
Due: none

Fugbixing installer.sh
  installer.sh
Due: none

Move unit tests to their original folder again
  .gitignore
  pytest.ini
  tests/mgm_hurry_freqtrade_cli_test.py
  tests/mgm_hurry_interface_test.py
  tests/mgm_hurry_monigomani_cli_test.py
  tests/mgm_hurry_monigomani_config_test.py
  tests/mgm_hurry_monigomani_logger_test.py
  tests/monigomani/__pycache__/mgm_hurry_freqtrade_cli_test.cpython-39-pytest-6.2.4.pyc
  tests/monigomani/__pycache__/mgm_hurry_interface_test.cpython-39-pytest-6.2.4.pyc
  tests/monigomani/__pycache__/mgm_hurry_monigomani_cli_test.cpython-39-pytest-6.2.4.pyc
  tests/monigomani/__pycache__/mgm_hurry_monigomani_config_test.cpython-39-pytest-6.2.4.pyc
  tests/monigomani/__pycache__/mgm_hurry_monigomani_logger_test.cpython-39-pytest-6.2.4.pyc
Due: pylint, pytest

installer arguments wip
  installer.sh
Due: none

👌 IMPROVE: support arguments for branch and commit hash at installer.sh
  installer.sh
Due: none

🤖 TEST: Polished some tests
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-00-34.log
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-12-50.log
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-17-01.log
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-19-55.log
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-19-56.log
  tests/mgm_hurry_freqtrade_cli_test.py
  tests/mgm_hurry_monigomani_cli_test.py
  tests/mgm_hurry_monigomani_config_test.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint, pytest

Fix access to __mgm_logger private var
  tests/mgm_hurry_monigomani_config_test.py
Due: pylint, pytest

Patch patch
  tests/mgm_hurry_monigomani_config_test.py
Due: pylint, pytest

patch patch
  tests/mgm_hurry_monigomani_config_test.py
Due: pylint, pytest

volare
  tests/mgm_hurry_monigomani_cli_test.py
Due: pylint, pytest

Fixing unit tests. Period.
  tests/mgm_hurry_freqtrade_cli_test.py
  tests/mgm_hurry_monigomani_cli_test.py
  tests/mgm_hurry_monigomani_config_test.py
  tests/mgm_hurry_monigomani_logger_test.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint, pytest

Pylint wants charset coding line.
  user_data/hyperopts/MGM_GeniusHyperOptLoss.py
Due: none

:beetle: BugFixed folder - json file mismatches in Docker
  docker-compose.yml
Due: none

Merging feature/optimizations and origin/development by hand. WIP
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

Remove duplicate config keys
  .hurry
Due: none

Merged _read_config into MoniGoManiConfig.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

Implemented entire logging functionality in MGMLogger
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

Pylint and tox.ini same ignore-lines for code guidelines
  .pylintrc
  tox.ini
Due: none

Fixing some code styling
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

Renaming some methods for better distinction
  mgm-hurry
  tests/mgm_hurry_monigomani_config_test.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint, pytest

👌 IMPROVE: Added some clarification to installer-script.
  installer.sh
Due: none

Workaround for GitHub security issue while PR testing
  .github/workflows/pytest-unit-tests.yml
  .github/workflows/test-report.yml
Due: none

Update installation instructions
  Documentation/Docs-MGM-Hurry.md
Due: none

switch from bash to sh to support colors in shell
  Documentation/Docs-MGM-Hurry.md
Due: none

Path conditions:
  pylint: any of: .*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$ and \.py$
  pytest: any of: mgm_hurry_.*?_test\.py$ and \.py$
