Repository Rikj000/MoniGoMani: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 38b88246ccc552bffaaf54259d064beeee434539  # frozen: v4.0.1
    hooks:
    -   id: trailing-whitespace
        types: [file, python]
    -   id: end-of-file-fixer
        types: [file, python]
    -   id: check-ast # Simply check whether files parse as valid python.
        types: [file, python]
    -   id: check-docstring-first
        types: [file, python]
    -   id: check-json
        types: [file, json]
    -   id: check-added-large-files
        types: [file]
    -   id: check-yaml
        types: [file, yaml]
    -   id: debug-statements
        types: [file, python]
    -   id: name-tests-test
        files: ^tests/
        types: [file, python]
    -   id: double-quote-string-fixer
        types: [file, python]
    -   id: requirements-txt-fixer
        files: ^requirements
        types: [file, plain-text]
    -   id: check-case-conflict # Check for files with names that would conflict on a case-insensitive filesystem like MacOS HFS+ or Windows FAT.
        types: [file, python]
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: fix-encoding-pragma
        files: ^(tests/|mgm_hurry)* # All files in tests/ and all files matching mgm_hurry*
        types: [file, python]

    # flake8 mainly for style smells
-   repo: https://gitlab.com/pycqa/flake8
    rev: dcd740bc0ebaf2b3d43e59a0060d157c97de13f3  # frozen: 3.9.2
    hooks:
    -   id: flake8
        types: [python]
        files: '.*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$' # all python files containing mgm or monigomani, except Strategy
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics

-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: '.*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$' # all python files containing mgm or monigomani, except Strategy
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        files: 'mgm_hurry_.*?_test\.py$'
        verbose: true

Fixing quotes.. doh :)
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

Ignore *PairList.py at linting atm
  .pre-commit-config.yaml
Due: none

Ignore linting TotalOverallSignalImporanceCalculator.py atm
  .pre-commit-config.yaml
Due: none

Cleanup unused imports
  mgm-hurry
Due: none

Fix reading config file
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

🧹 Cleanup
  .gitignore
  tests/mgm_hurry_freqtrade_cli_test.py
  tests/mgm_hurry_interface_test.py
  tests/mgm_hurry_monigomani_logger_test.py
Due: pylint, pytest

Added encoding pragmas to avoid future charset encoding issues
  user_data/strategies/MasterMoniGoManiHyperStrategy.py
  user_data/strategies/MoniGoManiHyperStrategy.py
Due: none

Fixing comments in launch.json
  .vscode/launch.json
Due: none

Ignore unneccesary lambda warning
  mgm-hurry
Due: none

Fixing comments in JSON
  .vscode/launch.json
Due: none

Fix comment issue
  mgm-hurry
Due: none

Add pytest-cov as dev-requirement
  requirements-mgm-dev.txt
Due: none

Only run MGM unit tests (in tests folder)
  .github/workflows/pytest-unit-tests.yml
  .hurry
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-00-34.log
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-12-50.log
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-17-01.log
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-19-55.log
  Some Test Results/MGM-Hurry-Command-Results-02-08-2021-11-19-56.log
  user_data/hyperopts/GeniusLoss.py
  user_data/hyperopts/UncloggedWinRatioAndProfitRatioLoss.py
  user_data/hyperopts/WinRatioAndProfitRatioLoss.py
  user_data/mgm_tools/TotalOverallSignalImportanceCalculator.py
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

Switch from pip -r to pipenv for running GitHub actions
  .github/workflows/pytest-unit-tests.yml
  Pipfile
Due: none

Fixing pytest commands for GH actions
  .github/workflows/pytest-unit-tests.yml
  Pipfile
  Pipfile.lock
  pytest.ini
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

Fixing pytest
  .github/workflows/pytest-unit-tests.yml
Due: none

Fixing pytest configuration
  .github/workflows/pytest-unit-tests.yml
  pytest.ini
Due: none

Cleanup code conform style guide
  .github/workflows/codeql-analysis.yml
  .github/workflows/flake8.yml
  .github/workflows/pytest-unit-tests.yml
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

Use pipenv to run pytest in gh actions
  .github/workflows/pytest-unit-tests.yml
  pytest.ini
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

Fix running pytest. c'mon!
  .github/workflows/pytest-unit-tests.yml
Due: none

Aligned pip-requirements in pipfile and reqs.txt
  Pipfile
  requirements-mgm.txt
Due: none

Updated CONTRIBUTING.md
  .github/CONTRIBUTING.md
  Pipfile.lock
  requirements-mgm.txt
Due: none

Show an interactive spinner while downloading freqtrade
  Pipfile
  Pipfile.lock
  requirements-mgm.txt
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

Refactorings
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

Updated CONTRIBUTING.md
  .github/CONTRIBUTING.md
  .pre-commit-config.yaml
  pytest.ini
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

fixme -> FIXME
  mgm-hurry
Due: none

Almost rewrote the entire code to download a static pairlist.
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

Cleanup code and solve FIXME's
  mgm-hurry
Due: none

Do not track freqtrade.egginfo folder
  .gitignore
Due: none

Do not track freqtrade.egg-info folder
  .gitignore
Due: none

Fix writing static pairlist to pairlist.json
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

Finished code for downloading static pairlist in a more stable manner
  mgm-hurry
Due: none

Use the mgm config module to interact with mgm configuration settings
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

startup_candle_count multiplier removed. Fixes rikj000/monigomani#91
  user_data/strategies/MasterMoniGoManiHyperStrategy.py
Due: none

Set 30m as default ticker instead of 1h
  mgm-hurry
Due: none

Added a bunch of run/debug configurations
  .vscode/launch.json
Due: none

Remove duplicate pragmas
  user_data/strategies/MoniGoManiHyperStrategy.py
Due: none

Moved apply_best_results from mgm-hurry to monigomanicli.
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

Store ho-results log file by default in user_data/ho_results/
  mgm-hurry
Due: none

Command bugfix for download_candle_data
  .vscode/launch.json
Due: none
