Repository Rikj000/MoniGoMani: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_language_version:
    python: python3.8
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 38b88246ccc552bffaaf54259d064beeee434539  # frozen: v4.0.1
    hooks:
    -   id: trailing-whitespace
        types: [file, python]
    -   id: end-of-file-fixer
        types: [file, python]
    -   id: check-ast # Simply check whether files parse as valid python.
        types: [file, python]
    -   id: check-docstring-first
        types: [file, python]
    -   id: check-json
        types: [file, json]
    -   id: check-added-large-files
        types: [file]
    -   id: check-yaml
        types: [file, yaml]
    -   id: debug-statements
        types: [file, python]
    -   id: name-tests-test
        files: ^tests/
        types: [file, python]
    -   id: double-quote-string-fixer
        types: [file, python]
    -   id: requirements-txt-fixer
        files: ^requirements
        types: [file, plain-text]
    -   id: check-case-conflict # Check for files with names that would conflict on a case-insensitive filesystem like MacOS HFS+ or Windows FAT.
        types: [file, python]
    -   id: check-merge-conflict
    -   id: detect-private-key
    -   id: fix-encoding-pragma
        files: ^(tests/|mgm_hurry)* # All files in tests/ and all files matching mgm_hurry*
        types: [file, python]

    # flake8 mainly for style smells
-   repo: https://gitlab.com/pycqa/flake8
    rev: dcd740bc0ebaf2b3d43e59a0060d157c97de13f3  # frozen: 3.9.2
    hooks:
    -   id: flake8
        types: [python]
        files: '.*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$' # all python files containing mgm or monigomani, except Strategy
        args:
        - --select=F,E112,E113,E304,E501,E502,E701,E702,E703,E71,E72,E731,W191,W6
        - --max-line-length=240
        - --statistics

-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        files: '.*?(mgm)|(MoniGoMani).*?(?<!Strategy)\.py$' # all python files containing mgm or monigomani, except Strategy
        args:
        - --disable=C,R,W0613,W0511,W0212,W0201,W0311,W0106,W0603,W0621,W0703,E1136
    -   id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        files: 'mgm_hurry_.*?_test\.py$'
        verbose: true

🔮 Implement better logging using actions/core
  .github/scripts/disco.js
  .github/workflows/disco-runner.yml
Due: none

🔮 Implement better logging using actions/core
  .github/scripts/disco.js
Due: none

🔥 Removed `disco.js`
  .github/scripts/disco.js
Due: none

✨ Added `disco.py`
  .github/scripts/disco.py
Due: none

⚡️ Reworked `disco-runner.yml`
  .github/workflows/disco-runner.yml
Due: none

🔀 Merge `.github` into `main` branch
  .github/scripts/disco.py
  .github/workflows/disco-runner.yml
Due: none

🔥 Removed `disco.js` from `main` branch
  .github/scripts/disco.js
Due: none

⚡️ Fixed `test-report.yml` indentation + `pytest-unit-test.yml` whitespace
  .github/workflows/pytest-unit-tests.yml
  .github/workflows/test-report.yml
Due: none

🐞 BugFixed installation on MacOS (Switched to `copytree`)
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

⚡ Improved `MoniGoManiCli` installation failed error logging
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint

Let the party gettin' started
  .github/workflows/disco-runner.yml
Due: none

installer - Adding a requirement check for python3-venv
  installer.sh
Due: none

⚡️ Check if `virtualenv` is installed through `pip3`
  installer.sh
Due: none

⚡️ `pip` => `pip3`
  installer.sh
Due: none

✨ Added `--dev-break` to `installer.sh`
  installer.sh
Due: none

♻ Refactored `mgm-hurry` & `M̀oniGoManiConfig` for IDE warnings
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

📝 Updated `Docs-MGM-Hurry`
  Documentation/Docs-MGM-Hurry.md
Due: none

🐞 BugFixed - Faulty log output & file creation during HyperOpting & BackTesting
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

🐞 BugFixed - `expect` failures using `installer.sh` on Ubuntu
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

✨ `mgm-hurry setup` - Added `username` prompt
  .hurry
  mgm-hurry
Due: none

✨ `MoniGoManiLogger` - Added post functions
  Pipfile
  Pipfile.lock
  requirements-mgm.txt
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

✨ `mgm-hurry backtest` - Added `--strategy` & `--output_file_name` + post functions
  mgm-hurry
Due: none

✨ `mgm-hurry hyperopt` - Added `--do_backtest` + Scrapped `--save_output` & `--output_path` + Added post functions
  mgm-hurry
Due: none

⚡️ `installer.sh` Switched to `Ubuntu` & `Debian` specific `Python3-venv` check
  installer.sh
Due: none

⚡️ Updated Dependency packages
  Pipfile
  Pipfile.lock
  requirements-mgm.txt
Due: none

⚡️ `mgm-hurry download_candle_data` - Added prompt to auto download extra data (for `startup_candle_count`)
  installer.sh
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

⚡️ `mgm-hurry download_static_pairlist` - Use 'mgm-config' name from '.hurry'
  mgm-hurry
Due: none

⚡️ `mgm-hurry up` - Check if cleanup is needed before HyperOpting
  mgm-hurry
Due: none

⚡️ `mgm-hurry setup` - Save `stake_currency` to `mgm-config` & `.hurry`
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

♻ Refactored `.format()` to `f-strings` in `mgm-hurry` + `mgm_tools/mgm_hurry`
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiLogger.py
Due: pylint

⚡ Replaced hardcoded config file names with configurable names in `mgm-hurry` + `mgm_tools/mgm_hurry`
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

✨ `MoniGoManiConfig` - Added `command_configs` command string helper command
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/MoniGoManiConfig.py
Due: pylint

⚡ `FreqtradeCli` - Exit if no installation exists during initialization
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

✨ `FreqtradeCli` - Added a `choose_fthypt_file` prompt method
  mgm-hurry
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint

⚡ `MoniGoManiCli` - Reworked `apply_best_results` into `apply_mgm_results`
  mgm-hurry
  tests/mgm_hurry_monigomani_cli_test.py
  user_data/mgm_tools/mgm_hurry/MoniGoManiCli.py
Due: pylint, pytest

⚡ `MoniGoManiCli` - Reworked `hyperopt_show_epoch` (Added `--strategy`, `--apply`, `--fthypt`) + Removed `hyperopt_apply_epoch`
  mgm-hurry
Due: none

♻ Refactored IDE warnings out of unit `tests`
  tests/mgm_hurry_freqtrade_cli_test.py
  tests/mgm_hurry_interface_test.py
  tests/mgm_hurry_monigomani_cli_test.py
  tests/mgm_hurry_monigomani_config_test.py
  tests/mgm_hurry_monigomani_logger_test.py
Due: pylint, pytest

✨ `mgm-hurry hyperopt` - Added `--min_trades`
  Documentation/Docs-MGM-Hurry.md
  README.md
  mgm-hurry
Due: none

🐞 BugFixed - Don't exit on `_init_freqtrade` when no installation exists
  user_data/mgm_tools/mgm_hurry/FreqtradeCli.py
Due: pylint
